# Coffe Shop Sales

## Importando bibliotecas

In [1]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

## Carregando dados

In [2]:
df = pd.read_excel('Coffee_Shop_Sales.xlsx')

## Explorando os dados

In [3]:
print(df.head())

   transaction_id transaction_date transaction_time  transaction_qty  \
0               1       2023-01-01         07:06:11                2
1               2       2023-01-01         07:08:56                2
2               3       2023-01-01         07:14:04                2
3               4       2023-01-01         07:20:24                1
4               5       2023-01-01         07:22:41                2

   store_id   store_location  product_id  unit_price    product_category  \
0         5  Lower Manhattan          32         3.0              Coffee
1         5  Lower Manhattan          57         3.1                 Tea
2         5  Lower Manhattan          59         4.5  Drinking Chocolate
3         5  Lower Manhattan          22         2.0              Coffee
4         5  Lower Manhattan          57         3.1                 Tea

            product_type               product_detail
0  Gourmet brewed coffee                  Ethiopia Rg
1        Brewed Chai tea     Spicy Eye Opener Chai Lg
2          Hot chocolate            Dark chocolate Lg
3            Drip coffee  Our Old Time Diner Blend Sm
4        Brewed Chai tea     Spicy Eye Opener Chai Lg

In [4]:
#informações gerais
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   transaction_date  149116 non-null  datetime64[ns]
 2   transaction_time  149116 non-null  object
 3   transaction_qty   149116 non-null  int64
 4   store_id          149116 non-null  int64
 5   store_location    149116 non-null  object
 6   product_id        149116 non-null  int64
 7   unit_price        149116 non-null  float64
 8   product_category  149116 non-null  object
 9   product_type      149116 non-null  object
 10  product_detail    149116 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 12.5+ MB
None

In [5]:
# Estatísticas descritivas básicas
print(df.describe())

       transaction_id  transaction_qty       store_id     product_id  \
count   149116.000000    149116.000000  149116.000000  149116.000000
mean     74737.371872         1.438276       5.342063      47.918607
std      43153.600016         0.542509       2.074241      17.930020
min          1.000000         1.000000       3.000000       1.000000
25%      37335.750000         1.000000       3.000000      33.000000
50%      74727.500000         1.000000       5.000000      47.000000
75%     112094.250000         2.000000       8.000000      60.000000
max     149456.000000         8.000000       8.000000      87.000000

          unit_price
count  149116.000000
mean        3.382219
std         2.658723
min         0.800000
25%         2.500000
50%         3.000000
75%         3.750000
max        45.000000

In [6]:
print(df.columns)

Index(['transaction_id', 'transaction_date', 'transaction_time',
       'transaction_qty', 'store_id', 'store_location', 'product_id',
       'unit_price', 'product_category', 'product_type', 'product_detail'],
      dtype='object')

In [7]:
print(df.shape)

(149116, 11)

## Análise Exploratória dos Dados

Qual o produto mais vendido?

Qual é a categoria de produto que traz a maior receita?

Qual a receita média por cada tipo de produto?

Qual a receita média por região?

Quais as lojas que trazem mais ou menos receita?

Existe algum padrão nos horários das transações, seja por produto, loja ou região?